@model WellnessWaveHealth.Models.ForgotPassword

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_ForgotPassPartial.cshtml";
}

<style>
    h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

input, button, select, textarea {
  font-family: "Roboto", sans-serif;
}
.btn-style-one {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  line-height: 27px;
  padding: 8px 36px;
  background: #48bdc5;
  border: 1px solid #48bdc5;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.btn-style-one:hover {
  color: #48bdc5;
  border: 1px solid #48bdc5;
  background: #ffffff;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.contact-area input, .contact-area textarea {
    position: relative;
    width: 100%;
    height: 50px;
    color: #777777;
    padding: 10px 25px;
    background: #f4f4f4;
    display: block;
    border: 1px solid #ececec;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input, button, select, textarea {
    font-family: "Roboto", sans-serif;
}
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
    margin:20px 0px;
    padding:10px;
}
</style>
<div class="container" style="display:flex;align-items:center;justify-content:center;height:100vh;">
    <div style="height: 300px; width: 400px; border: 1px solid #ddd; box-shadow: 0px 0px 4px grey; text-align: center; padding: 20px 40px;">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="contact-area style-two">
                <div>
                    <h1>Enter Your Email to Reset The Password</h1>
                </div>
                @using (Html.BeginForm("ForgotPassword", "UserAccount", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <form name="contact_form" class="default-form contact-form" action="SignUp" method="post">
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-6 col-sm-12 col-xs-12">

                                <div class="form-group">

                                    @Html.TextBoxFor(email => email.Email, new { @placeholder = "Email", required = "", id = "email", onkeyup = "emailcheck()" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    <span id="emailError"></span>
                                </div>

                                <p>
                                    Back to @Html.ActionLink("LogIn", "LogIN")
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px">


                                        <div class="form-group text-center">
                                            <button type="submit" class="btn-style-one">Send Link</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </form>
                }

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


