@model WellnessWaveHealth.Models.FeedbackModel
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Page Title-->
<section class="page-title text-center" style="background-image: url('../../images/background/3.jpg');">
    <div class="container">
        <div class="title-text">
            <h1>Feedback</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="~/Home/Index">home &nbsp;/</a>
                </li>
                <li>Feedback</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<section class="blog-section section style-three pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="appointment-image-holder">
                    <figure>
                        <img src="~/images/about/feedbackimage1.png" alt="feedback"/>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contact-area style-two">
                    <div class="section-title">
                        <h3>Feedback</h3>
                    </div>
                    @using (Html.BeginForm("Feedback", "Home", FormMethod.Post))
                    {
                        <form name="contact_form" class="default-form contact-form" action="Appointment" method="post">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">

                                        @Html.TextBoxFor(name => name.Name, new { @placeholder = "Name", required = "" })
                                    </div>
                                    <div class="form-group">

                                        @Html.TextBoxFor(email => email.Email, new { @placeholder = "Email", required = "" })
                                    </div>

                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">

                                        @Html.TextBoxFor(phone => phone.Phone, new { @placeholder = "Phone", required = "" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(date => date.Date, new { @placeholder = "Date", required = "", @id = "datepicker" })
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">

                                        @Html.DropDownListFor(hospital=>hospital.HospitalName,new SelectList(Model.HospitalList))
                                    </div>
                                   
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.DropDownListFor(department => department.Department, new SelectList(Model.DepartmentList))
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">

                                        @Html.TextAreaFor(suggestion=>suggestion.Suggestion, new { @placeholder = "Your Suggestion..", required = "" })
                                    </div>

                                    <div class="form-group text-center">
                                        <button type="submit" class="btn-style-one">submit now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>

        </div>
    </div>
</section>
<div style="text-align:center; margin:40px 0px;" >
    <h1>@ViewBag.FStatus</h1>
    <p>@ViewBag.FstatusP</p>
</div>
<!-- End feedback Section -->
